<%- include("partials/header") -%>

<h1>Home</h1>
<P> <%= content %></P>

 <%  posts.forEach((item)=>{ %>
       
       <ul>
           <li> <h1> <%= item.title %> </h1> </li>
           <li> <span>Authur :  <%= item.authur %> </span></li>
           <li> <p class="time">Date : <%= new Date().toLocaleString() %> </p> </li>
           <li class="image-display"> <img src="../image/<%= item.image.originalname %>" alt="image"> </li>
           <li> <p> <%= item.composed.substring(0, 500) %>....<a href="/post/<%= item.title %>">Read more</a> </p> </li>
       </ul>
      
       
 <% }) %>
<%- include("partials/footer") -%>
