<%- include("partials/header") -%>
    
    <h1> <%= post.title %> </h1>
    <span> <%= post.authur %> </span>
    <p class="time"> <%= new Date().toLocaleString() %> </p>
    <img src="" alt="">
    <p> <%= post.composed %> </p>

<%- include("partials/footer") -%>
