<%- include("partials/header") -%>
    
    <ul>
        <li>  <h1> <%= post.title %> </h1> </li>
        <li> <span> <%= post.authur %> </span> </li>
        <li> <p class="time"> <%= new Date().toLocaleString() %> </p> </li>
        <li class="image-display"> <img src="../image/<%= post.image.originalname %>" alt=""> </li>
        <li> <p> <%= post.composed %> </p> </li>
        <li> <p> <%= post.composed2 %> </p> </li>

<%- include("partials/footer") -%>
